extends layout

mixin cartItem(item)
  tr.center.cart-item
    td.thumbnail
      a(href=`/categories/all/${item.productUid}`)
        img(src=`/images/${item.productInfo.images[0]}`, alt="", srcset="")
    td=item.productInfo.name
    td=item.option
    td=item.productInfo.discountPrice
    td=item.quantity
    - total += item.productInfo.discountPrice * item.quantity
    td=item.productInfo.discountPrice * item.quantity

mixin displayCartItems(items)
  each item in items
    +cartItem(item)

mixin displayTotals()
  hr
  .row.right
    h3 Total: #{total}


block content
  h1=title
  div.cart-list
    table
      thead: tr
        th image
        th product info
        th option
        th price
        th quantity
        th total
      tbody
        - let total = 0
        if cartItems
          +displayCartItems(cartItems)
        else
          h2 Cart is empty.

  +displayTotals()
  .row.center
    a(href="/carts/clear")
      button.cart-button.clear-cart-button Clear Cart
    form(action="/carts/checkout", method="post")#cart-form
      input(type="number", name="totalPrice", value=`${total}`, hidden)
      button.order-button(type="submit", form="cart-form") Order