extends index

//- 
//- Product Detail Mixin
//- 
mixin productDetail(product)
  .original-image
    img(src=`/images/${product.images[0] || 'sorry.png'}`, alt=`image of ${product.name}`)
  .description
    h3.name=product.name
    table
      tr
        th Price
        td.price ₩#{product.price}
      tr
        th DC Price
        td.dcPrice ₩#{product.discountPrice}
      tr
        th Description
        td.detail=product.description
      tr
        th Tags
        td
          each tag in product.tags
            span.uk-badge=tag
      tr
        th Options
        td
          select.uk-form-small.uk-select.options(form="product-form", name="option")
            each qty, option in product.optionQty
                option(value=option) #{option}: #{qty} left
      tr
        th Quantity
        td
          input.uk-form-small.uk-textarea.quantity(type="number", form="product-form", name="quantity", value="1", max=10, required) 
    .product-button
      input(type="text", form="product-form", name="productId", value=`${product.id}`, hidden) 
      input(type="text", form="product-form", name="name", value=`${product.name}`, hidden) 
      input(type="text", form="product-form", name="image", value=`${product.images[0]}`, hidden) 
      input(type="text", form="product-form", name="price", value=`${product.discountPrice}`, hidden) 
      input(type="bool", form="product-form", name="isSoldOut", value=`${product.isSoldOut}`, hidden) 
      form(action=`/orders/${product.uid}`, method="post").product-form#product-form
      button.uk-button.uk-button-primary.uk-button-large(type="submit", form="product-form") Order Now
      button.uk-button.uk-button-default.uk-button-large(type="submit", form="product-form" formaction=`/carts/${product.uid}`) Add To Cart

//- 
//- View blocks (override layout blocks)
//- 
block content
  h2 Product Detail
  .product-detail.uk-margin.uk-grid
    if product
      +productDetail(product)
    else
      img(src=`/images/sorry.png`, alt=`product doesn't exist.`)