extends layout

mixin productItem(product)
  .original-image
    a(href=`${currentUrlPath}/${product.uid}`)
      img(src=`/images/${product.images[0] || 'sorry.png'}`, alt=`image of ${product.name}`)
  .description
    h3.name=product.name
    table
      tr
        th Price
        td.price $#{product.price}
      tr
        th DC Price
        td.dcPrice $#{product.discountPrice}
      tr
        th Description
        td.detail=product.description
      tr
        th Tags
        td=product.tags
      tr
        th Options
        td
          select.options(form="product-form", name="options")
            each qty, option in product.optionQty
                option(value=option) #{option}: #{qty} left
      tr
        th Quantity
        td
          input.quantity(type="number", form="product-form", name="quantity", value="1", max=10, required) 
  .product-button
    form(action=`/orders/${product.uid}`, method="post").product-form#product-form
    button.order-button(type="submit", form="product-form") Order Now
    button.add-cart-button(type="submit", form="product-form" formaction=`/carts/${product.uid}`) Add To Cart

block content
  h1=title
  .product-detail.center
    if product
      +productItem(product)
    else
      img(src=`/images/sorry.png`, alt=`product doesn't exist.`)