extends layout

//- 
//- Product Mixins
//- 
mixin productItem(product)
  //- Set tags for single product
  a.uk-link-reset(href=`${currentUrlPath}/${product.uid}`)
    .uk-card.uk-card-hover.uk-card-body.uk-text-center.uk-card-small
      .thumbnail
          img(src=`/images/${product.images[0] || 'sorry.png'}`, alt=`image of ${product.name}`)
      .description
        ul
          li
            .uk-text-uppercase.name=product.name
          li
            span.price ₩#{product.price}
            span.dcPrice ₩#{product.discountPrice}
          li.detail=product.description
          li
            each tag in product.tags
              span.uk-badge=tag

mixin displayProducts(products)
  //- Create a list of products 
  each product in products
    +productItem(product)

//- 
//- View blocks
//- 
block content
  h2=title
  .product-list.uk-grid.uk-margin-small
    +displayProducts(products)