extends layout

//- 
//- Product Mixins
//- 
mixin productItem(product)
  //- Set tags for single product
  .box
    .thumbnail
      a(href=`${currentUrlPath}/${product.uid}`)
        img(src=`/images/${product.images[0] || 'sorry.png'}`, alt=`image of ${product.name}`)
    .description
      strong.name=product.name
      ul
        li
          span.price $#{product.price}
          span.dcPrice $#{product.discountPrice}
        li.detail=product.description
    .icon
      span tags# #{product.tags}

mixin displayProducts(products)
  //- Create a list of products 
  each product in products
    +productItem(product)

//- 
//- Category Mixins
//- 
mixin categoryItem(category)
  //- Set tags for single category
  a(href=`/categories/${category.uri}`)=category.name
  if category.childCategories
    ul.uk-nav-sub
      each child in category.childCategories
        +categoryItem(child)

mixin displayCategories(categories)
  //- Create a list of categories
  each category in categories
    if category.isParent
      li.uk-parent
        +categoryItem(category)

//- 
//- View blocks
//- 
block navigation
  li.uk-nav-header Menu
  +displayCategories(categories)
block content
  h1=title
  .product-list
    +displayProducts(products)