extends layout

//- 
//- Product Mixins
//- 
mixin productItem(product)
  //- Set tags for single product
  div
    .thumbnail
      a(href=`${currentUrlPath}/${product.uid}`)
        img(src=`/images/${product.images[0] || 'sorry.png'}`, alt=`image of ${product.name}`)
    .description
      ul
        li
          .uk-text-uppercase.name=product.name
        li
          span.price ₩#{product.price}
          span.dcPrice ₩#{product.discountPrice}
        li.detail=product.description
    .icon
      each tag in product.tags
        span.uk-badge=tag

mixin displayProducts(products)
  //- Create a list of products 
  each product in products
    +productItem(product)

//- 
//- View blocks
//- 
block content
  h1=title
  .product-list.uk-grid
    +displayProducts(products)