extends layout

mixin orderItem(order)
  td
    ul.order-item-list
      each product in order.products
        li
          a(href=`/products/${product.productUid}`)
            span #{product.productInfo.name} (#{product.option})x#{product.quantity}
            br
            span = #{product.quantity * product.productInfo.discountPrice}
  td=order.totalPrice
  td=order.payment.method
  td
    if order.shipment
      span=order.shipment.method
      br
      span=order.shipment.trackingId
      br
      span=order.shipment.shipped
    else
      span -
  td=order.status
  td=order.created
  td
    if order.status === 'PREP'
      button() Cancel
    else
      button(disabled) Cancel

mixin displayOrders(orders)
  - let index = 1
  each order in orders
    tr.order-item
      td=index
      - index += 1
      +orderItem(order)

block content
  h2=title
  div.order-list
    table.order-item-table
      thead: tr
        th #
        th product list
        th total price
        th payment method
        th shipment method
        th status
        th ordered date
        th
      tbody
        if orders
          +displayOrders(orders)
        else
          h2 Order list is empty.
