extends layout

mixin cartItem(item)
  tr.cart-item
    td.thumbnail
      a(href=`/products/${item.productUid}`)
        img(src=`/images/${item.productInfo.images[0]}`, alt="", srcset="")
    td=item.productInfo.name
    td=item.option
    td=item.productInfo.discountPrice
    td=item.quantity
    - total += item.productInfo.discountPrice * item.quantity
    td=item.productInfo.discountPrice * item.quantity

mixin displayCartItems(items)
  each item in items
    +cartItem(item)

mixin displayTotals()
  h3 Total: #{total}


block content
  //- variable for total price 
  - let total = 0
  
  h2=title
  if !cartItems || cartItems.length === 0
    h2 Cart is empty.
  else
    div.cart-list
      table
        thead: tr
          th image
          th product info
          th option
          th price
          th quantity
          th total
        tbody
          +displayCartItems(cartItems)

    form(action="/carts/checkout", method="post")#cart-form
      input(type="number", name="totalPrice", value=`${total}`, hidden)

    .uk-align-right.uk-margin
      +displayTotals()
      a.uk-margin-right(href="/carts/clear")
        button.uk-button.uk-button-default.uk-button-large Clear Cart

      button.uk-button.uk-button-primary.uk-button-large(type="submit", form="cart-form") Order
    